In [276]:
# importing dependencies
import pandas as pd

# loading data file
data_file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(data_file)

In [277]:
# Display the total number of players
total_players_count = len(purchase_data["SN"].unique())
display_total_players = pd.DataFrame([{"Total Players" : total_players_count }])

display_total_players

   Total Players
0            576

In [278]:
# Display Purchasing Analysis (Total)
number_of_unique_items = len(purchase_data["Item Name"].unique())
average_price = "${:,.2f}".format(purchase_data["Price"].mean())
number_of_purchases = len(purchase_data.index)
total_revenue = "${:,.2f}".format(purchase_data["Price"].sum())
purchasing_analysis_results = [{
    "Number of Unique Items": number_of_unique_items,
    "Average Price": average_price,
    "Number of Purchases": number_of_purchases,
    "Total Revenue": total_revenue
}]
display_purchasing_analysis_results = pd.DataFrame(purchasing_analysis_results)
display_purchasing_analysis_results

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [279]:
# Analyzing Gender Demographics
unique_purchase_data = purchase_data.drop_duplicates("SN")
by_gender_purchase_data = pd.DataFrame(unique_purchase_data["Gender"].value_counts())
percent = (by_gender_purchase_data["Gender"] / total_players_count)
by_gender_purchase_data["Percentage of Players"] = percent
by_gender_purchase_data["Percentage of Players"] = by_gender_purchase_data["Percentage of Players"].map("{:.2%}".format)
by_gender_purchase_data

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [280]:
# Purchasing Analysis (Gender)
# calculating individual columns of the dataframe
purchase_data_gender = purchase_data.groupby(["Gender"])
unique_sale_data = purchase_data.drop_duplicates('SN')
unique_purchase_count_by_gender = unique_sale_data["Gender"].value_counts()
purchase_count_by_gender = purchase_data["Gender"].value_counts()
purchase_total_by_gender = purchase_data_gender["Price"].sum()
average_purchase_price = purchase_total_by_gender / purchase_count_by_gender
average_purchase_price_by_person = purchase_total_by_gender / unique_purchase_count_by_gender

# creating the base data frame
purchase_summary_by_gender = pd.DataFrame({
    "Purchase Count": purchase_count_by_gender,
    "Average Purchase Price": average_purchase_price,
    "Total Purchase Value": purchase_total_by_gender,
    "Avg Total Purchase per Person": average_purchase_price_by_person
})

# formatting the dataframe
purchase_summary_by_gender["Average Purchase Price"] = purchase_summary_by_gender["Average Purchase Price"].map("${:,.2f}".format)
purchase_summary_by_gender["Total Purchase Value"] = purchase_summary_by_gender["Total Purchase Value"].map("${:,.2f}".format)
purchase_summary_by_gender["Avg Total Purchase per Person"] = purchase_summary_by_gender["Avg Total Purchase per Person"] .map("${:,.2f}".format)
purchase_summary_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [281]:
# Analyze Age Demographics
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

# copying original dataframe to a new sandbox and removing duplicate records
purchase_data_temp = purchase_data.copy()
purchase_data_temp["Age Category"] = pd.cut(purchase_data["Age"], age_bin, labels=age_label, include_lowest=True)
purchase_data_age = purchase_data_temp.drop_duplicates('SN')
total_players = len(purchase_data_age)

# performing final calculations and displaying the result
unique_age_group_counts = purchase_data_age["Age Category"].value_counts()
percentage_of_players = (age_group_counts/total_players)
age_demography_Analysis = pd.DataFrame({"Total Count": unique_age_group_counts,
                                       "Percentage of Players": percentage_of_players })
# formatting, sorting & displaying results
age_demography_Analysis["Percentage of Players"] = age_demography_Analysis["Percentage of Players"].map("{:.2%}".format)
age_demography_Analysis.sort_index(inplace=True)
age_demography_Analysis

       Total Count Percentage of Players
<10             17                 3.99%
10-14           22                 4.86%
15-19          107                23.61%
20-24          258                63.37%
25-29           77                17.53%
30-34           52                12.67%
35-39           31                 7.12%
40+             12                 2.26%

In [282]:
# Purchase Analysis by Age
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
age_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+" ]

# copying original dataframe to a new sandbox
purchase_data_temp = purchase_data.copy()
purchase_data_temp["Age Category"] = pd.cut(purchase_data["Age"], age_bin, labels=age_label, include_lowest=True)
total_players = len(purchase_data)

# performing all calculations
purchase_data_by_age_group = purchase_data_temp.groupby(["Age Category"])
age_group_counts = purchase_data_temp["Age Category"].value_counts()
purchase_by_age_group = purchase_data_by_age_group["Price"].sum()
average_purchase_price = purchase_by_age_group / age_group_counts
average_per_person = purchase_by_age_group / unique_age_group_counts

# creating new dataframe
age_demography_Analysis = pd.DataFrame({"Total Count": age_group_counts,
                                        "Average Purchase Price": average_purchase_price,
                                        "Total Purchase Value": purchase_by_age_group,
                                        "Avg Total Purchase per Person": average_per_person
                                       })
# formatting, sorting & displaying results
age_demography_Analysis["Average Purchase Price"] = age_demography_Analysis["Average Purchase Price"].map("${:,.2f}".format)
age_demography_Analysis["Total Purchase Value"] = age_demography_Analysis["Total Purchase Value"].map("${:,.2f}".format)
age_demography_Analysis["Avg Total Purchase per Person"] = age_demography_Analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_demography_Analysis.sort_index(inplace=True)
age_demography_Analysis

,Total Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [283]:
# Top Spenders - by player
by_player_top_spender = purchase_data.groupby(["SN"])
total_purchase_count = purchase_data["SN"].value_counts()
total_purchase_value = by_player_top_spender["Price"].sum()
average_purchase_price = total_purchase_value / total_purchase_count

# creating top spenders data frame
top_spenders = pd.DataFrame({
    "Purchase Count": total_purchase_count,
    "Average Purchase Price": average_purchase_price,
    "Total Purchase Value": total_purchase_value
})

# performing calculation and formatting the data
final_top_spenders = top_spenders.sort_values(by=["Total Purchase Value"], ascending=False)
final_top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:,.2f}".format)
final_top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)
final_top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [284]:
# Most Popular Items by volume
popular_purchase_data = purchase_data[["Item ID", "Item Name", "Price"]]
popular_purchase_data_group = popular_purchase_data.groupby(["Item ID", "Item Name"])
top_item_count = popular_purchase_data_group["Item Name"].count()
top_item_value = popular_purchase_data_group["Price"].sum()
most_popular_item = pd.DataFrame({
    "Purchase Count": top_item_count,
    "Item Price": top_item_value / top_item_count,
    "Total Purchase Value": top_item_value
})
top_five_popular_item = most_popular_item.sort_values(by=["Purchase Count"], ascending=False)
top_five_popular_item["Item Price"] = top_five_popular_item["Item Price"].map("${:,.2f}".format)
top_five_popular_item["Total Purchase Value"] = top_five_popular_item["Total Purchase Value"].map("${:,.2f}".format)
top_five_popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [285]:
# Most Profitable Item by Purchase Value
top_five_profitable_item = most_popular_item.sort_values(by=["Total Purchase Value"], ascending=False)
top_five_profitable_item["Item Price"] = top_five_profitable_item["Item Price"].map("${:,.2f}".format)
top_five_profitable_item["Total Purchase Value"] = top_five_profitable_item["Total Purchase Value"].map("${:,.2f}".format)
top_five_profitable_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80