In [161]:
# importing dependencies
import pandas as pd

# loading data file
data_file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(data_file)

In [162]:
# Display the total number of players
total_players_count = len(purchase_data["SN"].unique())
display_total_players = pd.DataFrame([{"Total Players" : total_players_count }])

display_total_players

   Total Players
0            576

In [163]:
# Display Purchasing Analysis (Total)
number_of_unique_items = len(purchase_data["Item Name"].unique())
average_price = round(purchase_data["Price"].mean(), 2)
number_of_purchases = len(purchase_data.index)
total_revenue = purchase_data["Price"].sum()
purchasing_analysis_results = [{
    "Number of Unique Items": number_of_unique_items,
    "Average Price": average_price,
    "Number of Purchases": number_of_purchases,
    "Total Revenue": total_revenue
}]
display_purchasing_analysis_results = pd.DataFrame(purchasing_analysis_results)
display_purchasing_analysis_results

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [164]:
# Analyzing Gender Demographics
unique_purchase_data = purchase_data.drop_duplicates("SN")
by_gender_purchase_data = pd.DataFrame(unique_purchase_data["Gender"].value_counts())
percent = round((by_gender_purchase_data["Gender"] / total_players_count) * 100, 2)
by_gender_purchase_data["Percentage of Players"] = percent
by_gender_purchase_data

                       Gender  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91

In [171]:
# Purchasing Analysis (Gender)
# creating gender based subset of data
male_purchase_data = purchase_data[purchase_data["Gender"] == "Male"]
male_unique_sale_data = male_purchase_data.drop_duplicates('SN')
female_purchase_data = purchase_data[purchase_data["Gender"] == "Female"]
female_unique_sale_data = female_purchase_data.drop_duplicates('SN')
other_purchase_data = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_unique_sale_data = other_purchase_data.drop_duplicates('SN')

# performing calculation for each male dataset
male_purchase_count = len(male_purchase_data)
male_total_value = male_purchase_data["Price"].sum()
male_average_price = round(male_total_value/male_purchase_count,2)
male_average_per_person = round(male_total_value/len(male_unique_sale_data), 2)   

# performing calculation for each female dataset
female_purchase_count = len(female_purchase_data)
female_total_value = female_purchase_data["Price"].sum()
female_average_price = round(female_total_value/female_purchase_count,2)
female_average_per_person = round(female_total_value/len(female_unique_sale_data), 2)   
                                  
# performing calculation for each other dataset
other_purchase_count = len(other_purchase_data)
other_total_value = other_purchase_data["Price"].sum()
other_average_price = round(other_total_value/other_purchase_count,2)
other_average_per_person = round(other_total_value/len(other_unique_sale_data), 2) 

# create display dataframe
gender_based_purchasing_analysis = [
    {"Gender": "Male", "Purchase Count": male_purchase_count, 
     "Average Purchase Price": male_average_price, 
     "Total Purchase Value": male_total_value, "Avg Total Purchase per Person": round(male_average_per_person,2)},
    {"Gender": "Female", "Purchase Count": female_purchase_count, 
     "Average Purchase Price": female_average_price, 
     "Total Purchase Value": female_total_value, "Avg Total Purchase per Person": female_average_per_person},
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchase_count, 
     "Average Purchase Price": other_average_price, 
     "Total Purchase Value": other_total_value, "Avg Total Purchase per Person": other_average_per_person}
]

# sort and display result without the index number
gender_based_purchasing_analysis_results = pd.DataFrame(gender_based_purchasing_analysis).sort_values(by=["Gender"])
gender_based_purchasing_analysis_results.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [ ]:
# Analyze Age Demographics
purchase_data